<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-fluid gedf-wrapper">
    <div class="row justify-content-center">
        <div class="col-md-5 gedf-main center">
            <div *ngFor="let user of users" class="media user-follower">
                <img class="rounded-circle pull-left" width="100" src="{{user.avatar}}" alt="">
                <div class="media-body" style="padding-left: 10px; padding-top: 30px;">
                    <a href="#" class="text-info">{{user.username}}</a>
                    <button *ngIf="!user.followed" (click)="follow(user.id)" class="btn btn-outline-info my-2 my-sm-0 pull-right" >
                        Follow
                    </button>
                    <button *ngIf="user.followed" (click)="unfollow(user.id)" class="btn btn-outline-info my-2 my-sm-0 pull-right" >
                        UnFollow
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
