<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-fluid gedf-wrapper">
    <div class="row justify-content-center">
        
        <div class="col-md-5 gedf-main center">
                <br>
                <br>
                <div class="media user-follower">
                    <img class="rounded-circle pull-left" width="100" src="/assets/profile1.jpg" alt="">
                    <div class="media-body" style="padding-left: 10px; padding-top: 30px;">
                        <a href="#" class="text-info">Coco Rocha<i class="text-muted username"> @Coco</i></a>
                        <button type="button" class="btn btn-outline-info pull-right">Follow</button>
                    </div>
                </div>
                <br>
                <br>
                <div class="media user-follower">
                    <img class="rounded-circle pull-left" width="100" src="/assets/profile2.jpg" alt="">
                    <div class="media-body" style="padding-left: 10px; padding-top: 30px;">
                        <a href="#" class="text-info">Romee Strijd<i class="text-muted username"> @Roma</i></a>
                        <button type="button" class="btn btn-outline-info pull-right">Follow</button>
                    </div>
                </div>
                <br>
                <br>
                <div class="media user-follower">
                    <img class="rounded-circle pull-left" width="100" src="/assets/profile3.jpg" alt="">
                    <div class="media-body" style="padding-left: 10px; padding-top: 30px;">
                        <a href="#" class="text-info">Lais Ribeiro<i class="text-muted username"> @LR</i></a>
                        <div class="text-muted h7 mb-2 pull-right"> Following</div>
                    </div>
                </div>
                    
                    <br>
                    <br>
                    <div class="media user-follower">
                        <img class="rounded-circle pull-left" width="100" src="/assets/profile4.jpg" alt="">
                        <div class="media-body" style="padding-left: 10px; padding-top: 30px;">
                            <a href="#" class="text-info">Alexina Graham<i class="text-muted username"> @Alex</i></a>
                            <button type="button" class="btn btn-outline-info pull-right">Follow</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="media user-follower">
                        <img class="rounded-circle pull-left" width="100" src="/assets/profile5.jpg" alt="">
                        <div class="media-body" style="padding-left: 10px; padding-top: 30px;">
                            <a href="#" class="text-info">Joan Smalls<i class="text-muted username"> @Jo</i></a>
                            <button type="button" class="btn btn-outline-info pull-right">Follow</button>
                        </div>
                    </div>



               
        </div>
    </div>
</div>
