<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 gedf-main">
            <br>
              <div class="post-comments">            
                <form>
                  <div class="form-group">
                    <textarea name="comment" class="form-control" rows="3"  placeholder="Write your comment here"></textarea>
                  </div>
                  <button type="submit" class="btn btn-outline-info btn-block">Send</button>
                </form>
                </div>
            <br>
            <!--Comments-->
                <div class="card card-comments mb-3 wow fadeIn">
                    <div class="card-header font-weight-bold">4 comments</div>
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="/assets/photo.jpg" alt="">
                                </div>
                                <div class="ml-2">                                    
                                    <h5 class="mt-0 font-weight-bold">Jess O'Hare</h5>
                                    You are such a talented person!
                                </div>
                            </div>
                            <br>
                            <div class="media">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="/assets/profile1.jpg" alt="">
                                </div>
                                <div class="ml-2">                                    
                                    <h5 class="mt-0 font-weight-bold">Melanie Hindley</h5>
                                Your photo is so beautiful!
                                </div>
                            </div>
                            <br>
                            <div class="media">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="/assets/profile3.jpg" alt="">
                                </div>
                                <div class="ml-2">                                    
                                    <h5 class="mt-0 font-weight-bold">Julia Neeson</h5>
                                Where is this place?!
                                </div>
                            </div>
                            <br>
                            <div class="media">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="/assets/profile5.jpg" alt="">
                                </div>
                                <div class="ml-2">                                    
                                    <h5 class="mt-0 font-weight-bold">Jane Carey</h5>
                                If you would like to be featured in our magazine let me know.
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
        
    </div>
</div>
