<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
       crossorigin="anonymous"></script>
       
       <br>
      
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3 " style="position:fixed">
                    <div class="card">
                        <div class="card-body text-center" style="display:inline-block; ">
                            <img src="/assets/photo.jpg" class="circular--landscape" style="margin-bottom: 15px">                    
                            <div class="h5">@UserName</div>
                            <div class="h7 text-muted">Fullname : Name Surname</div>
                            <div class="h7">Proffesional photographer</div>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">
                                <div class="h6 text-muted">Followers</div>
                                <div class="h5">5.2342</div>
                            </li>
                            <li class="list-group-item">
                                <div class="h6 text-muted">Following</div>
                                <div class="h5">6758</div>
                            </li>
                
                        </ul>
                    </div>
            </div>
            <div class="col-md-6 gedf-main center">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-info" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Write a post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-info" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="card-body">
                        <form [formGroup]="postForm" (ngSubmit)="onSubmit()" method="post">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                    <div class="form-group">
                                        <label class="sr-only" for="message">post</label>
                                        <textarea class="form-control" name="message" id="message" rows="3" placeholder="Write something..."></textarea>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="customFile" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload image</label>
                                        </div>
                                    </div>
                                    <div class="py-4"></div>
                                </div>
                            </div>
                            <div class="btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" >Share</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <!-- Post /////-->
                <br>
                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="/assets/photo.jpg" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">@Username</div>
                                    <div class="h7 text-muted">Name Surname</div>
                                </div>
                            </div>
                            <div class="text-muted h7 mb-2 pull-right"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="card-link text-info" href="#">
                            <h5 class="card-title">Looking for a model!</h5>
                        </a>

                        <p class="card-text">
                            I'm organising photosoot in L.A. 1 April. P.M. me for collaboration.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link text-info"><i class="fa fa-gittip"></i> 11</a>
                        <a href="#" class="card-link pull-right text-info"><i class="fa fa-comment"></i> 4</a>
                    </div>
                </div>
                <!-- Post /////-->
                <br>
                 <!--- \\\\\\\Post-->
                 <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="/assets/photo.jpg" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">@Username</div>
                                    <div class="h7 text-muted">Name Surname</div>
                                </div>
                                
                            </div>
                            <div class="text-muted h7 mb-2 pull-right"> <i class="fa fa-clock-o"></i> 2 days ago</div>
                        </div>
                    </div>
                    <div class="card-body">                        
                        <img src="/assets/landscape.jpg" width="600px" class="center">     
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link text-info"><i class="fa fa-gittip"></i> 11</a>
                        <a href="#" class="card-link pull-right text-info"><i class="fa fa-comment"></i> 4</a>
                    </div>
                </div>
                <!-- Post /////-->
            </div>
            <!-- <div class="col-md-3">
                <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
            </div> -->
        </div>
    </div>