.nav-link {
    cursor:pointer;
  }
  .circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}